<!-- _about.html -->
<div class="row pad pad-small">
  <div class='small-3 columns'>
    <a href='#/'><img class='headshot' border='0' src='/assets/img/profile.jpg'/></a>
    <p><a class='blue' href="{{blog}}">blog</a></p>
    <p><a class='blue' href="#/resume">resume</a></p>
  </div>
  <div class='small-9 columns'>
    <p class='me'>
      Raymond Jacobson
    </p>
    <p>
      I'm a Junior at <a target="_blank" href="http://www.rpi.edu">Rensselaer Polytechnic Institute</a> in <a target="_blank" href="http://troyny.gov/Home.aspx">Troy, NY</a> pursuing a dual major in Computer Engineering &amp; Computer Science for my love of electronics, computation, and problem solving.
    </p>
    <p>
      I grew up in Bethesda, MD, and attended elementary - high school at
      <a target="_blank" href="http://www.sidwell.edu">Sidwell Friends</a>, a Quaker school, in Washington, DC, where I played tennis, sang and played guitar for my band, and was engaged in community service. As a high school student, I co-led a $10,000 <a target="_blank" href="http://web.mit.edu/invent/"> Lemelson-MIT</a> grant winning <a target="_blank" href="projects/sfsinventeam/">green energy project</a> that generated electricity using gray water and was also invested as an engineer and web developer for our <a target="_blank" href="http://www.sidwellrobotics.com">robotics team</a> that placed 10th at the MATE-ROV international competition in Houston, TX, at NASA's Neutral Buoyancy Lab.
    </p>
    <p>
      Nowadays, beyond my college coursework (Machine Learning, Probability, Microprocessor Systems, Visual Communication), I'm a research assistant for <a target="_blank" href="http://www.cs.rpi.edu//~milanova/">Dr. Ana Milanova</a>'s taint-analysis study of privacy leaks in Google Play Store applications, and I'm a developer at the <a target="_blank" href="http://rcos.rpi.edu/">Rensselaer Center for Open Source Software</a>. I have served as secretary, webmaster, and communications chair for the <a target="_blank" href="http://gmweek.union.rpi.edu/" >GM Week</a> committee, and I'm a member of the RPI IEEE chapter. I'm part of the Eta Kappa Nu and Tau Beta Pi honor societies, and the External Vice President &amp; Philanthropy Chair of <a target="_blank" href="http://ehzlxa.com/"> Lambda Chi Alpha - Epsilon Eta</a>.
    </p>
    <p>
      At RPI last semester (Spring 2014), I founded a lecture series initiative called Rensselaer TALKS. Videos and more information can be found <a target="_blank" href="http://rensselaertalks.com">here</a>. 
    <p>
      Ever since I was little, I've been driven by a curiosity and passion for creation, technology, nature, music, and design. That curiosity has fueled the projects I've done and is what drives me day by day to imagine. I'll keep you posted.
    </p>
    <p><a class="blue" href='#'>back</a></p>
  </div>
</div>