<!-- _index.html -->
<div class="row">
  <div class='mid-box column eight offset-by-two'>
    <p class='me'>
      I'm people driven. I visualize, piece-together &amp; implement platforms with an audience at heart. I push <a class='blue' href='#'>code</a>, listen and play <a class='orange' href='#'>music</a>, hang out with <a class='orange' href='#'>nature</a>, and so much <a class='blue' href='#about'>more</a>.
    </p>
    <p>
      Blog my <a class='blue' href="{{blog}}">blog</a> and check out some of my <a class='orange' href="{{projects}}">projects</a>. Right now I'm a Software Engineering Intern at <a class="blue">Boeing</a> and student at <a class="orange">Rensselaer</a>.
    </p>
  </div>
</div>