<!-- _index.html -->
<div class="row pad pad-large">
  <div class='mid-box small-8 small-centered columns'>
    <p class='me'>
      I'm people driven. I visualize, piece-together &amp; implement platforms with an audience at heart. I push <a class='blue' target="_blank" href='http://github.com/raymondjacobson'>code</a>, make and listen to <a class='orange' href='#'>music</a>, hang out with <a class='orange' href='#'>nature</a>, and so much <a class='blue' href='#about'>more</a>.
    </p>
    <p>
      Read my <a class='blue' href="{{blog}}">blog</a> and check out some of my <a class='orange' href="{{projects}}">projects</a>. Right now, I'm a Software Engineering Intern at <a class="blue" target="_blank" href="https://www.google.com/search?q=boeing+wgs&tbm=isch&gws_rd=ssl">Boeing</a> and student at <a class="orange" target="_blank" href="http://rpi.edu">Rensselaer</a>.
    </p>
  </div>
</div>