/**** copy Raymond Jacobson 2014 ****/
/* DEFINITIONS */
.bg-gray {
  background: #c7c7c7;
}
/* TYPOGRAPHY */
h1 {
  font-size: 2em;
}
p {
  font-size: 0.9em;
  letter-spacing: 0.1em;
  font-weight: 400;
  line-height: 1.3em;
}
p.me {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  word-spacing: 0.3em;
}
a {
  text-decoration: none;
  color: #5d4649;
}
a.orange {
  color: #ab8169;
  border-bottom: 1px dotted #ab8169;
}
a.blue {
  color: #7f8ea4;
  border-bottom: 1px dotted #7f8ea4;
}
/* GLOBALS */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  background: #ececec;
}
footer {
  margin: 0 auto;
  text-align: center;
}
footer p {
  text-transform: uppercase;
  font-size: 0.2em;
  font-weight: bold;
  letter-spacing: 0.3em;
}
footer p small {
  font-size: 8px;
  font-weight: 300;
  letter-spacing: 0.2em;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf {
  *zoom: 1;
}
.cf:after {
  clear: both;
}
.justify-text {
  text-align: justify;
}
.center-text {
  text-align: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
/* SPECIFICS */
div.mid-box {
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
