/**** copy Raymond Jacobson 2014 ****/
/* MIXINS */
/* DEFINITIONS */
.bg-gray {
  background: #c7c7c7;
}
/* TYPOGRAPHY */
h1 {
  font-size: 2em;
}
p {
  font-size: 0.9em;
  letter-spacing: 0.1em;
  font-weight: 400;
  line-height: 1.3em;
}
p.me {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  word-spacing: 0.3em;
}
a {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  text-decoration: none;
  color: #717171;
}
a:hover {
  color: #b4b4b4;
}
a.orange {
  color: #c8633a;
  border-bottom: 1px dotted #c8633a;
}
a.orange:hover {
  color: #d99275;
  border-bottom: 1px dotted #d99275;
}
a.blue {
  color: #6290b2;
  border-bottom: 1px dotted #6290b2;
}
a.blue:hover {
  color: #91b1c9;
  border-bottom: 1px dotted #91b1c9;
}
/* GLOBALS */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  background: #ececec;
}
footer {
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}
footer p {
  text-transform: uppercase;
  font-size: 0.2em;
  font-weight: bold;
  letter-spacing: 0.3em;
}
footer p small {
  font-size: 0.1rem;
  font-weight: 300;
  letter-spacing: 0.2em;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.nav {
  padding-top: 10px;
  text-align: center;
}
.nav a,
.nav a:hover {
  padding: 0 2px;
  border: none;
}
.nav a i,
.nav a:hover i {
  font-size: 1.2em;
}
.cf {
  *zoom: 1;
}
.cf:after {
  clear: both;
}
.justify-text {
  text-align: justify;
}
.center-text {
  text-align: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pad {
  padding-bottom: 50px;
}
.pad.pad-mini {
  padding-top: 10px;
}
.pad.pad-small {
  padding-top: 100px;
}
.pad.pad-large {
  padding-top: 190px;
}
/* SPECIFICS */
#bg-svg {
  position: absolute;
  width: 100%;
}
div.mid-box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img.headshot {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 200px;
  padding: 10px;
  border: 1px solid #6290b2;
  width: 200px;
  opacity: 0.9;
}
img.headshot.mini {
  width: 100px;
  padding: 5px;
}
img.headshot:hover {
  border: 1px solid #91b1c9;
  opacity: 0.6;
}
img.resume {
  border: 1px solid #6290b2;
  padding: 10px;
}
