<html ng-app='rsjApp'>
  <head>
    <link rel='stylesheet' type='text/css' href='/assets/styles/grid.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/styles/main.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/styles/font-awesome/css/font-awesome.min.css'/>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <script type='text/javascript' src='/assets/js/angular.min.js'></script>
    <script type='text/javascript' src='/assets/js/angular-route.min.js'></script>
    <title>{{title}}</title>
  </head>
  <body ng-controller='defaultCtrl'>
    <div class='wrapper bg-gray'>
      <div class='row nav nav-links'>
        <div class='columns small-8 small-centered'>
          <a class='blue' href='#'><i class="fa fa-github-square"></i></a>
          <a class='blue' href='#'><i class="fa fa-twitter-square"></i></a>
          <a class='blue' href='#'><i class="fa fa-linkedin-square"></i></a>
          <a class='blue' href='#'><i class="fa fa-google-plus-square"></i></a>
          <a class='blue' href='#'><i class="fa fa-pencil-square"></i></a>
        </div>
      </div>
      <div class='container'>
        <!-- angular templating -->
        <div ng-view></div>
      </div>
    </div>
    <footer>
      <p>Troy NY &amp; Bethesda MD</p>
      <p><small>Raymond Jacobson | <a href="mailto:r@rsj.io">r@rsj.io</a> | 2014</small></p>
    </footer>
    <script type='text/javascript' src='/assets/js/angles.js'></script>
  </body>
</html>